<!doctype html>
<html class="no-js" lang="" xmlns:th="http://www.thymeleaf.org">

<head th:include="/layout/head :: head"></head>
<link rel="stylesheet" href="/css/detail.css">
<body>
<div class="layout">
    <div class="result content">
        <div class="header-wrap">
            <header class="header">
                <div class="inner">
                    <a href="/">
                        <div class="logo">
                            <img src="/images/logo.png"/>
                            <h1>雷克塞</h1>
                        </div>
                    </a>
                    <div class="form">
                        <form action="/search" id="search-form" method="post" class="search-form">
                            <input type="text" class="search" placeholder="请输入你要搜索的关键词" name="fileName" autofocus="autofocus" />
                            <input type="button" class="search-btn" onclick="search(1)" value=""/>
                        </form>
                    </div>
                </div>
            </header>
        </div>
        <div class="wrap">
            <div class="detail-page">
                <div class="detail-content">
                    <div class="compatible-wrap" th:if="!${torrent.torrentDTO}">
                        <img src="/images/empty.png" alt="该链接现在已经转移" class="empty-image">
                        <p>该链接地址已不可用，或者无法搜索到该文件ID对应的资源</p>
                    </div>
                    <div id="info" th:if="${torrent.torrentDTO}">
                        <div class="detail-wrap">
                            <h2 class="detail-header">
                                <span>文件夹内部目录</span>
                            </h2>
                            <h1 class="filename">[[${torrent.torrentDTO.fileName}]]</h1>
                            <div class="detail-inner-wrap">
                                <div class="detail-item">
                                    <p class="detail-item-wrap" th:if="${not #lists.isEmpty(torrent.torrentDTO.fileNodes.children)}" th:each="file : ${torrent.torrentDTO.fileNodes.children}">
                                        <span class="detail-item-title">[[ ${file.fileName} ]]</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="resource-info">
                            <span class="meta-item">
                              <span class="label">文件大小：</span>
                              [[ ${#fileSize.readableFileSize(torrent.torrentDTO.fileSize)} ]]
                            </span>
                            <span class="meta-item">
                            <span class="label">更新时间：</span>
                                [[${#temporals.format(torrent.torrentDTO.createDate,'yyyy-MM-dd HH:mm:ss')}]]
                            </span>
<!--                            <span>内容来源：</span>-->
                        </div>
                        <div class="button-wrap">
                            <div class="button-inner">
                                <a th:href="'/video/' + ${torrent.torrentDTO.summary}" class="button">
                                    在线观看
                                </a>
                            </div>
                            <div class="button-inner baidu-button-inner">
                                <a target="_blank" href="https://pan.baidu.com/s/1dEJkdsX" class="button">下载</a>
                            </div>
                        </div>
                    </div>
                    <div id="statement">
                        <h2>相关声明</h2>
                        <p>
                            此页面内容由搜索引擎爬虫自动抓取，以非人工方式自动生成，只作交流和学习使用，雷克塞本身不储存、复制、传播任何文件，其资源的有效性和安全性需要您自行判断。雷克塞在免费提供服务的同时高度重视知识产权保护，如有侵犯您的合法权益或违法违规，请立即提供相关有效书面证明与侵权页面链接联系我们进行删除。感谢您对雷克塞的支持。
                        </p>
                    </div>
                    <div id="random" th:if="${not #lists.isEmpty(torrent.similar)}">
                        <h2>更多资源</h2>
                        <div class="random-inner content-inner">
                            <h3 th:each="similar : ${torrent.similar}">
                                <a th:href="'/infoHash/' + ${similar.summary}" target="_blank" class="">
                                    [[${similar.fileName}]]
                                </a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="/layout/footer :: copyright"></div>
    <script src="/js/search.js"></script>
</div>
</body>
</html>