<div class="footer">
    <div class="copyright">
        <p>@2020 - 2020 雷克塞 https://reksai.okboom.com - 免责声明</p>
        <p>以上内容由网络爬虫自动抓取，以非人工方式自动生成。雷克塞不储存、复制、传播任何文件，其资源文件的完整性需要您自行判断。</p>
    </div>
</div>