<head th:fragment="head">
    <meta charset="utf-8">
    <title>雷克塞</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-comptible" content="ie=edge">
    <meta name="application-name" content="Sample Title">

    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/layout.css">
</head>